<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>{% if page.title %} {{ page.title }} | {% endif %} the ozer</title>
<link rel="stylesheet" type="text/css" href="css/screen-style.css" />
<meta name="google-site-verification" content="wq5y2oQmkjnJIDRE-ShGB2GnloSTnLOLKiI-8lX3lso" />
</head>
<body>
<div id="main">
<div class="logo"><a href="index.html">&lt;theozer.com&gt;</a></div>
<div id="splash">
<div id="name">{{ page.title }}</div>
<div id="navbar">
<ul>
<li><a href="portfolio.html">portfolio</a></li>
<li><a href="http://zacharyozer.blogspot.com/">blog</a></li>
<li><a href="mailto:contact@theozer.com?subject=Comments from theozer.com">contact</a></li>
<li><a href="misc/resume.pdf">résumé</a></li>
</ul>
</div>
<hr />
{{ content }}
</div>
<div id="footer">&copy; 2003 - <script type="text/javascript">document.write((new Date()).getFullYear());</script> Zachary Adam Ozer</div>
</div>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-22124372-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</body>
</html>
